<div class="Footer">
    <div class="Links">
        <p>About</p>
        <p>Blog</p>
        <p>Jobs</p>
        <p>Help</p>
        <p>API</p>
        <p>Privacy</p>
        <p>Terms</p>
        <p>Top Accounts</p>
        <p>Hashtags</p>
        <p>Locations</p>
    </div>
    <div class="Copyright">
        <select name="lanuage" class="lanuage">
            <option value="English">English</option>
            <option value="Arabic">عربى</option>
            <option value="French">Français</option>
            <option value="Spanish">Español</option>
        </select>
        <p>© 2021 Instagram from Facebook</p>
    </div>
</div>