.profile_settings{
    display: flex;

    .Username{
        margin-top: 10px;
    }
}
.updatefield{
    display: flex;
}

th{
    text-align: start;
    img{
        width: 50px;
        border-radius: 100%;
        height: 50px;
        object-fit: cover;
    }
}

.align_right{
    text-align: end;
    padding: 10px;
    font-weight: 600;
}

td{
    input{
        width: 90%;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid rgb(197, 197, 197);
        border-radius: 0.25rem;
    }
    input:focus{
        box-shadow: 0 0 0 1pt rgb(202, 202, 202);
        outline: none;
    }
}

.changepassword_button input{
    background-color: #0095F6;
    border: none;
    border-radius: 0.25rem;
    color: white;
    font-weight: 600;
    width: 150px
}